<%- include('../includes/header'); -%>

<div class="mt-5 d-flex justify-content-center add_product_form_box">
  <form class="add_product_form" method="post" action="/addproduct">
    <div class="row">
      <label for="exampleInputEmail1" class="form-label">Add product</label>
      <input type="text" name="product_name" class="form-control-md" id="exampleInputEmail1" aria-describedby="emailHelp" />
    </div>

    <button type="submit" class="btn btn-primary mt-3">add product</button>
  </form>
</div>

<%- include("../includes/footer"); -%>
