<%- include('../includes/header'); -%>

<div class="login_box mt-5 d-flex justify-content-center add_product_form_box">
  <form method="post" action="/addproduct">
    <div class="row">
      <h1 class="login-text">Add product</h1>
      <input type="text" name="product_name" class="form-control-md" id="exampleInputEmail1" aria-describedby="emailHelp" />
    </div>

    <button type="submit" class="primary-button">add product</button>
  </form>
</div>

<%- include("../includes/footer"); -%>
