<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="style.css" />

    <title>e commerce</title>
  </head>
  <body>
    <div class="main-container">
      <div class="header">
        <div class="container">
          <div class="notification">notification</div>
        </div>
        <div class="container">
          <div class="navbar">
            <a href="/"><h1>Estore</h1></a>
            <ul>
              <li><a href="/addproduct">add product</a></li>
              <li><a href="#">menu</a></li>
              <li><a href="#">menu</a></li>
              <li><a href="#">menu</a></li>
              <li><a href="#">menu</a></li>
              <li><a href="#">menu</a></li>
            </ul>
            <div>
              <a href="/login"><button class="primary-button">login</button></a>
              <a href="/logout"><button class="primary-button">logout</button></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
