<%- include("includes/header") -%>

<div class="login_box">
  <h1 class="login-text">Forgot password ?</h1>
  <form action="#" method="POST">
    <input type="text" name="email" placeholder="email" /><br />
    <button class="primary-button" type="submit" value="send email">send email</button><br /><br />
    <a href="/signup"><h4>signup here</h4></a>
  </form>
</div>

<%- include("includes/footer") -%>
