<%- include("includes/header") -%>

<div class="login_box">
  <h1 class="login-text">sign up</h1>
  <form action="/signup" method="POST">
    <input type="text" name="email" placeholder="email" /><br />
    <input type="password" name="password" placeholder="password" /><br />
    <input type="password" name="confirmPassword" placeholder="confirmPassword" /><br />
    <button class="primary-button" type="submit">sign up</button>
  </form>
</div>

<%- include("includes/footer") -%>
