<%- include("includes/header") -%>

<div class="login_box">
  <h1>sign up</h1>
  <form action="/signup" method="POST">
    <input type="text" name="email" placeholder="email" /><br />
    <input type="password" name="password" placeholder="password" /><br />
    <input type="password" name="confirmPassword" placeholder="confirmPassword" /><br />
    <input type="submit" value="sign up" />
  </form>
</div>

<%- include("includes/footer") -%>
