<%- include("includes/header"); -%>

<div class="login_box">
  <h1 class="login-text">create new password</h1>
  <form action="#" method="POST">
    <input type="password" name="password" placeholder="new password" autocomplete="false" /><br />
    <input type="password" name=" confirm_password" placeholder="confirm_password" autocomplete="false" /><br />
    <button class="primary-button" type="submit" value="create password">create password</button><br /><br />
    <a href="/signup"><h4>signup here</h4></a>
  </form>
</div>

<%- include("includes/footer"); -%>
